<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings><add name="AperitivoEntities" connectionString="metadata=res://*/Aperitivo.csdl|res://*/Aperitivo.ssdl|res://*/Aperitivo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Aperitivo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>